
.p7PM3-16 {
-webkit-transform-style: preserve-3d;
}
.p7PM3-16.horiz {
line-height: 1.35;
}
.p7PM3-16.open_up {
border-top: 1px solid #000;
border-bottom: none;
}

.p7PM3-16.horiz {
padding: 0px 0px;
}

.pmm3-toolbar {
display: none;
}
.p7PM3-16 a img {
border: none;
vertical-align: bottom;
}

.p7PM3-16.menu-centered {
text-align: center;
}
.p7PM3-16.menu-right {
text-align: right;
}

.p7PM3-16:after {
content: "\0020";
clear: both;
font-size: 0px;
line-height: 0;
display: inline;
height: 0px;
}

.p7PM3-16 ul {
margin: 0px;
padding: 0px;
display: inline-block;
vertical-align: bottom;
}
.p7PM3-16 ul li {
list-style-type: none;
float: left;
position: relative;
margin-right: 8px;
padding: 12px 0px;
}
.p7PM3-16 ul li.pm3last {
margin-right: 0px;
}

.p7PM3-16 ul li a {
color: #FFF;
font-size: 1em;
padding: 10px 18px;
text-decoration: none;
display: block;
-webkit-transition: all linear .25s .1s;
transition: all linear .25s .1s;
-webkit-transition-property: background-color, box-shadow, border-color;
transition-property: background-color, box-shadow, border-color;
background-repeat: no-repeat !important;
background-position: left center !important;
background-color: #363566;
}

/*MULTICOLOR RULES*/
.p7PM3-16 li.root_1 a.trig_open,
.p7PM3-16 ul li.root_1 a.pm3-link:hover,
.p7PM3-16 ul li.root_1 a:hover {
	color: #FFFFFF;
	background-color: #FF3333;
}
.p7PM3-16 li.root_2 a.trig_open,
.p7PM3-16 ul li.root_2 a.pm3-link:hover,
.p7PM3-16 ul li.root_2 a:hover {
	color: #FFFFFF;
	background-color: #99CC33;
}
.p7PM3-16 li.root_3 a.trig_open,
.p7PM3-16 ul li.root_3 a.pm3-link:hover,
.p7PM3-16 ul li.root_3 a:hover {
	color: #FFFFFF;
	background-color: #A7509C;
}
.p7PM3-16 li.root_4 a.trig_open,
.p7PM3-16 ul li.root_4 a.pm3-link:hover,
.p7PM3-16 ul li.root_4 a:hover {
	color: #FFFFFF;
	background-color: #F59300;
}
.p7PM3-16 li.root_5 a.trig_open,
.p7PM3-16 ul li.root_5 a.pm3-link:hover,
.p7PM3-16 ul li.root_5 a:hover {
	color: #FFFFFF;
	background-color: #00A963;
}
.p7PM3-16 li.root_6 a.trig_open,
.p7PM3-16 ul li.root_6 a.pm3-link:hover,
.p7PM3-16 ul li.root_6 a:hover {
	color: #FFFFFF;
	background-color: #E51785;
}
.p7PM3-16 li.root_7 a.trig_open,
.p7PM3-16 ul li.root_7 a.pm3-link:hover,
.p7PM3-16 ul li.root_7 a:hover {
	color: #FFFFFF;
	background-color: #69C6DA;
}
.p7PM3-16 li.root_8 a.trig_open,
.p7PM3-16 ul li.root_8 a.pm3-link:hover,
.p7PM3-16 ul li.root_8 a:hover {
	color: #FFFFFF;
	background-color: #993366;
}
.p7PM3-16 li.root_9 a.trig_open,
.p7PM3-16 ul li.root_9 a.pm3-link:hover,
.p7PM3-16 ul li.root_9 a:hover {
	color: #FFFFFF;
	background-color: #339999;
}
.p7PM3-16 li.root_10 a.trig_open,
.p7PM3-16 ul li.root_10 a.pm3-link:hover,
.p7PM3-16 ul li.root_10 a:hover {
	color: #FFFFFF;
	background-color: #CC3366;
}


.p7PM3-16.shadows ul li a {
	box-shadow: 5px 5px 10px rgba(0,0,0,.15) !important;
}
.p7PM3-16.shadows ul ul li a {
	box-shadow: none;
}
.p7PM3-16.rounded ul li a {
	border-radius: 5px;
}
.p7PM3-16.rounded ul ul li a {
	border-radius: 0px;
}
.p7PM3-16 a.trig_closed {
	background-image: url(img/pmm3-right-light.gif);
}
.p7PM3-16.vert a.trig_closed {
	background-image: url(img/pmm3-right-medium.gif);
}
.p7PM3-16 ul ul a.trig_closed {
	background-image: url(img/pmm3-right-medium.gif);
}

.p7PM3-16 a.trig_open,
.p7PM3-16 ul li a.pm3-link:hover,
.p7PM3-16 ul li a:hover {
	background-image: url(img/pmm3-down-light.gif);
	outline: none;
	color: #FFFFFF;
	box-shadow: inset 0px 14px 8px rgba(255,255,255,.1);
	background-color: #222;
}
.p7PM3-16 ul ul a.trig_open {
	background-image: url(img/pmm3-down-light.gif);
}



.p7PM3-16 ul li a.pm3-link, .p7PM3-16 ul li a.pm3-link:hover {
	background-image: none;
}

.p7PM3-16 ul ul {
	background: linear-gradient(180deg, rgba(59,55,113,1), rgba(54,51,103,1));
	background-color: #363566;
	display: block;
	text-align: left;
	width: 200px;
}
.p7PM3-16.transparent ul ul {
	background: linear-gradient(180deg, rgba(40,40,40,.95), rgba(0,0,0,.95));
}

.p7PM3-16.shadows ul ul {
	box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.p7PM3-16 ul ul div {
	z-index: 10;
}
.p7PM3-16.auto-subs ul ul {
	width: auto;
}
.p7PM3-16.auto-subs ul ul li a {
	white-space: nowrap;
}
.p7PM3-16 ul ul li {
	position: relative;
	float: none;
	margin: 0px;
	padding: 0px;
}
.p7PM3-16 ul ul li a {
	border: none !important;
	border-radius: 0px;
	box-shadow: none;
	background-color: transparent;
	color: #CCC;
	font-size: .9em;
}
.p7PM3-16 ul ul li a.pm3-link:hover {
	background-color: #555;
	color: #EEE;
}

.p7PM3-16 ul ul li:last-child a {}

/*ROUNDED CORNERS OPTION - Sub-Center Bias*/
.p7PM3-16.rounded ul ul {
	border-radius: 5px;
}

.p7PM3-16.rounded ul a.root_trig,
.p7PM3-16.rounded ul a.root_link {
	border-radius: 5px;
}

.p7PM3-16.rounded ul ul a.pm3first,
.p7PM3-16.rounded ul ul .pm3first.pmm3-title-bar {
	border-radius: 5px 5px 0px 0px;
}
.p7PM3-16.rounded ul ul a.pm3last,
.p7PM3-16.rounded ul ul .pm3last.pmm3-title-bar {
	border-radius: 0px 0px 5px 5px;
}
.p7PM3-16.rounded ul ul a.pm3first.pm3last {
	border-radius: 5px;
}

.p7PM3-16.rounded ul a.root_trig.trig_up {
	border-radius: 5px 5px 5px 5px;
}
.p7PM3-16.rounded li.trig_up div {
	padding-bottom: 10px;
}
.p7PM3-16.rounded .trig_up a.pm3first {
	border-radius: 5px 5px 5px 5px !important;
}
.p7PM3-16.rounded ul li.trig_up ul {
	border-radius: 5px 5px 5px 5px;
}
.p7PM3-16.rounded .trig_up .pm3first.pmm3-title-bar {
	border-radius: 5px 5px 0px 0px !important;
}
.p7PM3-16.rounded .trig_up .pm3last.pmm3-title-bar {
	border-radius: 0px 0px 5px 5px !important;
}

/*DISPLAY AS TITLE ONLY*/
.p7PM3-16 .pmm3-title-bar {
	padding: 12px 18px;
	color: #DDD;
	background-color: #666;
}
.p7PM3-16.auto-subs ul ul .pmm3-title-bar {
	white-space: nowrap;
}

/*IMAGE LINKS*/
.p7PM3-16 .p7PM3_img {
	border: none;
	padding: 0px;
	text-align: center;
	background: none !important;
}
.p7PM3-16 .p7PM3_img img {
	border: none;
	width: auto !important;
	height: auto !important;
	max-width: 100%;
	vertical-align: bottom;
}
/*VERTICAL MODE */
.p7PM3-16.vert {
	padding: 0px;
}
.p7PM3-16.vert.shadows {
	box-shadow: none;
	border-bottom: none;
}
.p7PM3-16.vert ul {
	display: block;
}
.p7PM3-16.vert ul li {
	float: none;
	padding: 0px;
	position: relative;
	margin: 0px 0px 6px 0px;
}
.p7PM3-16.vert ul li a {
	border-color: rgba(0,0,0,.5);
}
.p7PM3-16.vert ul li.pm3last {
	margin: 0px 0px 0px 0px;
}

.p7PM3-16.vert ul ul li a,
.p7PM3-16.vert.shadows ul ul li a {
	border-color: rgba(0,0,0,.3);
	box-shadow: none;
}
.p7PM3-16.vert ul ul li {
	padding: 0px;
	margin: 0px;
}
/*CURRENT MARK */
.p7PM3-16 ul li a.current_mark {
	
}
.p7PM3-16 li.root_1 a.current_mark  {
	color: #FFFFFF;
	background-color: #FF3333;
}
.p7PM3-16 li.root_2 a.current_mark  {
	color: #FFFFFF;
	background-color: #99CC33;
}
.p7PM3-16 li.root_3 a.current_mark  {
	color: #FFFFFF;
	background-color: #A7509C;
}
.p7PM3-16 li.root_4 a.current_mark  {
	color: #FFFFFF;
	background-color: #F59300;
}
.p7PM3-16 li.root_5 a.current_mark  {
	color: #FFFFFF;
	background-color: #00A963;
}
.p7PM3-16 li.root_6 a.current_mark  {
	color: #FFFFFF;
	background-color: #E51785;
}
.p7PM3-16 li.root_7 a.current_mark  {
	color: #FFFFFF;
	background-color: #69C6DA;
}
.p7PM3-16 li.root_8 a.current_mark  {
	color: #FFFFFF;
	background-color: #993366;
}





.p7PM3-16 ul ul li a.current_mark {
	color: #FFF;
	font-weight: bold;
	text-shadow: none;
}
.p7PM3-16.vert ul li a.current_mark {
	font-weight: bold;
	text-shadow: none;
}

/*
NO-SCRIPT RULES
The following rules enable your menu to work even when javascript is disabled in the browser
*/
.p7PM3-16.p7PM3noscript {
	position: relative;
}

.p7PM3-16.p7PM3noscript ul ul {
	position: absolute;
	display: none;
	top: 100%;
}
.p7PM3-16.p7PM3noscript ul ul ul {
	display: none;
	top: 0px;
	left: 100%;
}
.p7PM3-16.vert.p7PM3noscript ul ul {
	top: 0px;
	left: 100%;
}
.p7PM3-16.p7PM3noscript li:hover ul {
	display: block;
}
.p7PM3-16.p7PM3noscript li:hover ul ul, .p7PM3-16.p7PM3noscript li:hover ul ul ul, .p7PM3-16.p7PM3noscript li:hover ul ul ul ul, .p7PM3-16.p7PM3noscript li:hover ul ul ul ul ul, .p7PM3-16.p7PM3noscript li:hover ul ul ul ul ul ul {
	display: none;
}
.p7PM3-16.p7PM3noscript li li:hover ul, .p7PM3-16.p7PM3noscript li li li:hover ul, .p7PM3-16.p7PM3noscript li li li li:hover ul, .p7PM3-16.p7PM3noscript li li li li li:hover ul, .p7PM3-16.p7PM3noscript li li li li li li:hover ul {
	display: block;
}


 @media only screen and (min-width: 0px) and (max-width: 700px) {

.p7PM3-16.responsive {
	text-align: left !important;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
}
.menutop-wrapper {
	padding: 0px !important;
}
.p7PM3-16.responsive:after {
	display: none;
}
.p7PM3-16.responsive:after {
	display: none;
}
.p7PM3-16.responsive .pmm3-toolbar {
	display: block;
	background-color: #363566;
	padding: 10px;
	text-align: right;
}
.p7PM3-16.responsive .pmm3-toolbar a {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.p7PM3-16.responsive .pmm3-toolbar a:hover {
	color: #F59300;
}
.p7PM3-16.responsive .toggle-text.closed a:before {
	content: "Show Menu \0020";
	font-size: .5em;
}
.p7PM3-16.responsive .toggle-text.opened a:before {
	content: "Hide Menu \0020";
	font-size: .5em;
}
.p7PM3-16.responsive .pmm3-toolbar {
	display: block;
	background-color: #363566;
	padding: 10px;
	cursor: pointer;
}
.p7PM3-16.responsive {
	text-align: left !important;
	padding: 0px !important;
	border: none !important;
}
.p7PM3-16.responsive.vert ul {
	margin-top: 0px;
}
.p7PM3-16.responsive ul {
	display: block;
	padding: 0px;
}
.p7PM3-16.responsive ul li {
	float: none;
	margin: 0px !important;
	padding: 0px;
}

.p7PM3-16.responsive ul li a {
	border: none !important;
}

.p7PM3-16.responsive a:hover {
	background-color: #363566;
	color: #F59300;
}
.p7PM3-16.responsive ul ul {
	position: static !important;
	width: auto;
	padding: 0px;
}
.p7PM3-16.responsive ul ul li {
	padding: 0px;
}
.p7PM3-16.responsive .pmm3-title-bar {
	padding: 12px 18px;
}
.p7PM3-16.responsive ul ul a,
.p7PM3-16.responsive ul ul .pmm3-title-bar {
	padding-left: 24px;
}
.p7PM3-16.responsive ul ul ul a,
.p7PM3-16.responsive ul ul ul .pmm3-title-bar {
	padding-left: 32px;
}
.p7PM3-16.responsive ul.closed {
	display: none;
}
.p7PM3-16.responsive ul.opened {
	display: block;
}
.p7PM3-16.responsive.rounded,
.p7PM3-16.responsive.rounded * {
	border-radius: 0px !important;
}
.p7PM3-16.responsive.shadows * {
	box-shadow: none !important;
}
.p7PM3-16_crumbs {
	display: none;
}
.p7PM3-16_crumbs.show-mobile {
	display: block;
}

.p7PM3.responsive.select .pmm3-select-wrapper {
	display: block;
	padding: 10px;
}
.p7PM3.responsive.select select {
	width: 100%;
	font-size: 1em;
	padding: 4px;
}
.p7PM3.responsive.select .pmm3-toolbar {
	display: none;
}
.p7PM3.responsive.select ul {
	display: none;
}

/*Workaround for very old Android devices*/
.p7PM3-16 div {
	left: 0px !important;
	top: 0px !important;
}
/*End old Android workaround*/
}
